*{
    padding: 0;  
    margin: 0;
    box-sizing: border-box;
}
 body{
     font-family: Arial, Helvetica, sans-serif;
 }  
  header{
      background-color: #000000;
  }
  li{
      list-style: none;
  }
  a{
      color: #fff;
      text-decoration: none;
  }
  
  .navbar{
      min-height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 24px;
  }
  .nav-menu{  
      display: flex;
      justify-content: space-between;
      gap: 40px;
      font-size: larger;
      font-weight: 700;
  }
  .nav-link{
     transition: 0.7s ease; 
  }
  
  .nav-link:hover{
      color: #00D782;
  }
  
  @media(max-width:1000px){
      .hamburger{
          display: none;
          cursor: pointer;
      }
  }
 
  @media(max-width:768px){
    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        border-radius: 5px;
        -webkit-transition: all 0.3 ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: rgb(255, 255, 255);
    }
    .bar2{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        border-radius: 5px;
        margin-left: 9px;
        cursor: pointer;
        -webkit-transition: all 0.3 ease-in-out;
        transition: all 0.3 ease-in-out;
        background-color: rgb(255, 255, 255);
    }
     
     
      .dash{
          transform: rotate(89deg);
      }
      .hamburger{
          display: block;
          cursor: pointer;
      }
      
      .hamburger.active .bar2:nth-child(2){
          opacity: 0;
      }
      .hamburger.active .bar:nth-child(1){
          transform: translateY(8px) rotate(45deg);
          transition: all 0.3s ease-in-out;
  
      }
      .hamburger.active .bar:nth-child(3){
          transform: translateY(-8px) rotate(-45deg);
          transition: all 0.3s ease-in-out;
      }
  
      .nav-menu{
          position: fixed;
          left: -100%;
          top: 70px;
          gap: 0;
          flex-direction: column;
          background-color: #000000;
          width: 100%;
          text-align: center;
          transition:0.3s ;
      }
  
      .nav-item{
          margin: 16px 0;
      }
  
      .nav-menu.active {
          left: 0;
      }
  }
  /*  */
  .background-image {
    background-color: rgb(41, 65, 171);
    background-image: url(./bursts.svg);
    background-repeat: no-repeat;
    background-position: center top 20px;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
}
.fymGQK {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00d37f;
    font-size: 80pt;
    padding-bottom: 40px;
}

.fymGQ {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00a865;
    padding-bottom: 40px;
}

.hJWOAl {
    background-color: #1ed760;
    color: rgb(41, 65, 171);
    border-radius: 500px;
    font-size: inherit;
    padding: 14px 32px;
    border: none;
    cursor: pointer;
}
.hJWOAl:hover {
    border-radius: 30px;
    border: 2px solid  hsl(141, 100%, 13%);
    background-color: hsl(141, 100%, 36%);
}
@media (max-width: 800px){
    .background-image {
        background-color: rgb(41, 65, 171);
        background-image: url(./bursts.svg);
        background-repeat: no-repeat;
        background-position: center top 69px;
        background-size: cover;
        width: 100%;
        height: 100vh;
        text-align: center;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        overflow: hidden;
    }
    .fymGQK {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #00d37f;
        font-size: 60pt;
        padding-bottom: 40px;
    }
    
    .fymGQ {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-bottom: 40px;
        color: #00a865;
    }
    
    .hJWOAl {
        background-color: #1ed760;
        color: rgb(41, 65, 171);
        border-radius: 500px;
        font-size: inherit;
        padding: 14px 32px;
        border: none;
        cursor: pointer;
        margin-bottom: 6em;
    }
}
@media (max-width: 530px){
    .background-image {
        background-color: rgb(41, 65, 171);
        background-image: url(./bursts.svg);
        background-repeat: no-repeat;
        background-position: center top 20px;
        background-size: cover;
        width: 100%;
        height: 100vh;
        text-align: center;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        overflow: hidden;
    }
    .fymGQK {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #00d37f;
        font-size: 50pt;
        padding-bottom: 10px;
        margin-left: 1em;
    }
    
    .fymGQ {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #00a865;
        padding-bottom: 40px;
    }
    
    .hJWOAl {
        background-color: #1ed760;
        color: rgb(41, 65, 171);
        border-radius: 500px;
        font-size: inherit;
        padding: 14px 32px;
        border: none;
        cursor: pointer;
        margin-bottom: 6em;
    }
} 
@media (max-width: 419px) and (max-width: 405px) and (max-width: 329px) and (max-width: 305px) {
    .background-image {
        background-color: rgb(41, 65, 171);
        background-image: url(./bursts.svg);
        background-repeat: no-repeat;
        background-position: center top 20px;
        background-size: cover;
        width: 100%;
        height: 100vh;
        text-align: center;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        overflow: hidden;
    }
    .fymGQK {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #00d37f;
        font-size: 30pt;
        padding-bottom: 10px;
        margin-right: 0.5em;
    }
    
    .fymGQ {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #00a865;
        padding-bottom: 40px;
    }
    
    .hJWOAl {
        background-color: #1ed760;
        color: rgb(41, 65, 171);
        border-radius: 500px;
        font-size: inherit;
        padding: 14px 32px;
        border: none;
        cursor: pointer;
        margin-bottom: 6em;
    }
} 
@media (max-width: 414px) {
    .background-image {
        background-color: rgb(41, 65, 171);
        background-image: url(./bursts.svg);
        background-repeat: no-repeat;
        background-position: center top 20px;
        background-size: cover;
        width: 100%;
        height: 100vh;
        text-align: center;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        overflow: hidden;
    }
    .fymGQK {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #00d37f;
        font-size: 35pt;
        padding-bottom: 10px;
        margin-right: 0.5em;
    }
    
    .fymGQ {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #00a865;
        padding-bottom: 40px;
    }
    
    .hJWOAl {
        background-color: #1ed760;
        color: rgb(41, 65, 171);
        border-radius: 500px;
        font-size: inherit;
        padding: 14px 32px;
        border: none;
        cursor: pointer;
        margin-bottom: 6em;
    }
} 
/*  */
.footer{
    display: inline-flex;
    justify-content: center;
    text-align: center;
}
.footerimg{
    width: 25%;
    height: 15vh;
    padding-left: 10em;
    padding-top: 4.2em;
}
a:hover{
    color: #1ed760;
    transition: 0.7s ease;
    text-decoration: none;
}
#list-items{
    padding-top: 4em;
    color: #222;
    font-weight: 900;
    margin-left: 9em;
    line-height: 3em;
}
.socialimg{
    display: flex;
    margin-right: 1rem;
}

@media (max-width: 1258px){
    footer{
        display: flex;
        justify-content: center;
    }
    .footerimg{
        width: 15%;
        height: 13vh;
        padding-left: 3em;
        padding-top: 4.2em;
    }
    a:hover{
        color: #1ed760;
        transition: 0.7s ease;
        text-decoration: none;
    }
    #list-items{
        padding-top: 4em;
        color: #222;
        font-weight: 900;
        margin-left: 4em;
        line-height: 3em;
    }
    
    .socailimg{
        word-wrap: break-word;
        margin-right: 1rem;
    }
}
@media (max-width: 893px){

    .footer{
        display: inline-flex;
        
    }
    .footerimg{
        width: 20%;
        height: 12vh;
        margin-left: -3em;
        padding-top: 4.2em;
    }
    #list-items{
        padding-top: 4em;
        color: #222;
        font-weight: 900;
        margin-left: 4em;
        line-height: 3em;
    }
    .socialimg{
        display: block;
        word-wrap: break-word;
        margin-right: 5rem;
    }
}
@media (max-width: 798px){

    .footer{
        display: inline-flex;
    }
    .footerimg{
        width: 22%;
        height: 9vh;
        margin-left: -3em;
        padding-top: 4.2em;
    }
    #list-items{
        padding-top: 4em;
        color: #222;
        font-weight: 900;
        margin-left: 4em;
        line-height: 3em;
    }
    .socialimg{
        display: block;
        word-wrap: break-word;
        margin-right: -5rem;
    }
}
@media (max-width: 788px){
    .footer{
        display: block;
    }
    .footerimg{
        width:100%;
        height: 12vh;
        margin-left: -3em;
        padding-top: 4.2em;
    }
    #list-items{
        padding-top: 4em;
        color: #222;
        font-weight: 900;
        margin-left: 4em;
        line-height: 3em;
    }
    .socialimg{
        display: flex;
    }
}
@media (max-width: 420px){
    .footer{
        display: block;
        margin-left: -2em;
    }
    .footerimg{
        width:100%;
        height: 12vh;
        margin-left: -3em;
        padding-top: 4.2em;
    }
    #list-items{
        padding-top: 4em;
        color: #222;
        font-weight: 900;
        margin-left: 4em;
        line-height: 3em;
    }
    .socialimg{
        display: flex;
    }
}
@media (max-width: 305px){
    .footer{
        display: block;
        margin-left: -4em;
        /* justify-content: center; */
    }
    .footerimg{
        width:100%;
        height: 12vh;
        justify-content: center;
        padding-top: 4.2em;
    }
    #list-items{
        padding-top: 4em;
        color: #222;
        font-weight: 900;
        margin-left: 4em;
        line-height: 3em;
    }
    .socialimg{
        display: flex;
    }
}
/*  */


